*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body{
    background-color: #191919;
    font-family: "Calibri";
    color: #e77c72;
  }
  
  .zatixa{
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1520px;
    width: 100%;
    box-shadow: 0px 0px 40px 5px rgba(204, 22, 22, 0.9);
  }
  
  .tamainua{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2c2c2c;
  }
  
  .tamainua2{
    padding-top: 40px;
    padding-bottom: 210px;
    background-color: #2c2c2c;
  }
  
  .separadoria{
    padding-top: 50px;
  }
  
  #argazkixa1{
    border: 4px solid #CC1616;
    border-radius: 90%;
    width: 200px;
    transition: all 0.5s;
    filter: grayscale(100%);
  }
  #argazkixa1:hover {
    transform: scale(1.05);
    filter: grayscale(0);
  }
  
  .erdixa{
    width: 44%;
    float: left;
    margin: -1.8% 0 3% 4%;
    text-align: center;
  }
  
  .erdixa2{
    width: 44%;
    float: left;
    margin: 4% 0% 0% 4%;
    text-align: center;
  }
  
  .erdixa3{
    width: 44%;
    float: left;
    margin: -1.2% 0 3% 4%;
    text-align: center;
  }
 
  .erdixa4{
    width: 44%;
    float: left;
    margin: -1% 0 3% 4%;
    text-align: center;
  }
